body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 970px;
}



/* ==================================================
  Images
  ================================================ */

img {
  max-width: 90%;
}



/* ==================================================
  Media Queries
  ================================================ */

@media only screen and (min-width: 768px) {
  
}