/* ==================================================
  Masthead
  ================================================ */

.masthead {
  background: url(../images/masthead-van-green.jpg) center center;
  background-size: cover;
  border-bottom: 1px solid #e7e7e7;
  color: #e7e7e7;
  padding: 2em 0;
  position: relative;

  h1,
  .lead {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
  }
}

.callout {
  margin-top: 2em;

  .lobster {
    font-family: 'Lobster', sans-serif;
    font-size: 2.35em;
  }

  .phone {
    color: $nm-green;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .masthead {
    padding: 7em 0;
  }
}



/* ==================================================
  Navigation
  ================================================ */

.navbar,
.navbar-brand {
  margin-bottom: 0;
  transition: all 0.7s ease;
}

.navbar-inverse {
  background-color: $nm-black;
  // border-color: $nm-green;
}

.navbar-brand {
  padding: 10px 15px;
}

.navbar-nav {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .navbar-nav {
    text-align: right;
  }
  .navbar.navbar-fat {
    min-height: 6em;

    .navbar-brand {
      height: 95px;
      padding: 15px;
    }

    .navbar-nav > li > a {
      padding: 39px 15px 36px;
    }
  }
}


/* ==================================================
  Sections
  ================================================ */

// Banner

.banner {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 2em 0;
  text-transform: uppercase;
}

.banner-estimate {
  background-color: $nm-black;
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
  color: $nm-yellow;
  margin: 2.5em 0 0;
}

.banner-color {
  background: url(../images/green-banner.jpg) no-repeat center center;
  background-size: cover;
  color: $nm-white;
  margin: 0 0 2.5em;
  text-shadow: 1px 1px 1px rgba(36,103,52,0.8);
}


// About

#section-about {
  padding-top: 2em;
}

.before-after {
  margin-top: 2em;
}


// Services

#section-services {
  background: url(../images/crossword.png) center center;
  padding: 2em 0 1em;
}


// Contact

#section-contact {
  padding-bottom: 2em;
}



@media only screen and (min-width: 992px) {
  // banner
  .banner {
    font-size: 1.5em;
    padding: 3em 0;
  }

  .banner-estimate { margin: 3em 0 0; }
  .banner-color { margin: 0 0 3em; }

  // about
  #section-about {
    padding-top: 4em;
  }

  .before-after {
    margin-top: 0;
  }

  //services
  #section-services {
    padding: 4em 0 3.5em;
  }

  // contact
  #section-contact {
    padding-bottom: 4em;
  }
}



/* ==================================================
  Footer
  ================================================ */

.page-footer {
  background-color: $nm-black;
  color: lighten($nm-black, 30%);
  font-size: 75%;
  padding: 1.5em 0;
  text-align: center;

  a {
    color: lighten($nm-black, 30%);
  }
}