p,
p.lead,
li {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin: 0;
}

a,
a:visited {
  color: $nm-med-green;

  &:hover,
  &:active {
    color: $nm-green;
  }
}

.color-white { color: $nm-white; }
.color-yellow { color: $nm-yellow; }
.color-lite-green { color: $nm-lite-green; }

h1 {
  color: $nm-green;
  line-height: 1.35;
}

h2,
h3 {
  color: $nm-black;
  font-size: 1.5em;
  line-height: 1.35;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 992px) {
  h2 {
    font-size: 2.5em;
  }
}



/* ==================================================
  Buttons
  ================================================ */

a.btn-primary {
  background-color: $nm-green;
  border: none;
  border-radius: 4px;
  color: $nm-white;
  font-family: 'Lobster', sans-serif;

  &:hover {
    background-color: darken($nm-green, 5%);
    color: $nm-white;
  }
}

.btn-lg {
  display: block;
  font-size: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

@media only screen and (min-width: 768px) {
  .btn-lg {
    display: inline-block;
  }
}



/* ==================================================
  Media Queries
  ================================================ */

@media only screen and (min-width: 768px) {
  
}