/* ==================================================
  Colors
  ================================================ */

// $nm-green: #246734;
// $nm-med-green: #3c9444;
// $nm-lite-green: #7ec244;
// $nm-yellow: #d9e153;
// $nm-white: #f7f7f7;
// $nm-black: #242a22;

$nm-green: #4d4d4d;
$nm-med-green: #a7a7a7;
$nm-lite-green: #d3d3d3;
$nm-yellow: #e7e7e7;
$nm-white: #f7f7f7;
$nm-black: #2d2d2d;