/* ==================================================
  Colors
  ================================================ */

$nm-green: #246734;
$nm-med-green: #3c9444;
$nm-lite-green: #7ec244;
$nm-yellow: #d9e153;
$nm-white: #f7f7f7;
$nm-black: #242a22;