extends layouts/default
block content

  // SECTION: ABOUT
  #section-about
    .container-fluid
      .row
        .col-md-6
          h2 About National Maintenance Supply &amp; Service Company LLC
          p.lead.
            With over 20 years of Retail and Commercial Cleaning experience, we take pride in our customer services. We are a privately held company based in Upstate New York.
          p.lead.
            We take great pride in making our clients’ locations look great each and every day. We know that a clean location helps the bottom line.
        .col-md-6.before-after.text-center
          img(src="images/store-cleaning.jpg", alt="Convenience Store Cleaning")

  // BANNER: ESTIMATE
  .banner.banner-estimate.text-center
    .container-fluid
      .row
        .col-xs-12 Call us today for a free estimate: 
            span.color-white (315) 253-3017

  // SECTION: SERVICES
  #section-services.text-center
    .container-fluid
      .row
        .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
          h2 Our Services
          p.lead.
            We work with our clients to meet their customers’ high expectations. We design a custom Janitorial Program for all of our partners. From 7-day-a-week service to once a month&mdash;every location is given the service it needs.
          p.lead
            em.color-lite-green(style="font-size:85%;") Janitorial Services &ndash; Flooring &ndash; Waxing &ndash; Stripping &ndash; Carpet Care &ndash; Tile &amp; Grout &ndash; Sidewalk Cleaning
          p.lead.
            We know that the cost is important to our clients. That is why we work with the latest technological advances in the cleaning business. We train our work force to focus on our standardized cleaning processes.
          p.lead
            em.color-lite-green(style="font-size:85%;") Construction Clean-Up &ndash; Shopping Cart Sanitization &ndash; Pressure Washing &ndash; Window Cleaning
          p.lead.
            We at National Maintenance Supply &amp; Service LLC can handle multiple locations. We have Area Managers assigned to each and every location. We have one number to call for service, unlike our competitors. Billing is simple with consolidated, itemized invoices by location.

  // BANNER: COLOR
  .banner.banner-color.text-center
    .container-fluid
      .row
        .col-xs-12.
          Call us today &ndash; we're available 24/7

  // SECTION: CONTACT
  #section-contact.text-center
    .container-fluid
      .row
        .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
          h2 Contact Us
          p.lead.
            We look forward to hearing from you! Our goal is to help our clients meet their customers’ high expectations for a clean environment.
          p.lead (315) 253-3017
          p.lead 128 Grant Avenue Suite B &bull; Auburn, NY 13021
          p.lead
            a.btn.btn-lg.btn-primary(href="mailto:quote@nationalmaintenancecny.com") Email Us for More Info