nav#main-navigation.navbar.navbar-fat.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse-1")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#very-top")
        img(src="images/national-maintenance-logo.svg", alt="Nation Maintenance Supply &amp; Services", height="100%")
    #navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href="#section-about") About Us
        li
          a(href="#section-services") Our Services
        li
          a(href="#section-contact") Contact Us

#top.masthead
  .container-fluid.text-center
    .row
      .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        h1.text-uppercase(style="margin-bottom:1em;") National Maintenance<br>Supply &amp; Service Company LLC
        p.lead We specialize in commercial cleaning&mdash;from 7 day a week service in large retail stores, to once a month janitorial service in convenience stores.